In [33]:
from sklearn import tree
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [34]:
dogs_cats_train = pd.read_csv('dogs_n_cats.csv')
dogs_cats_train = pd.get_dummies(dogs_cats_train)
dogs_cats_train.head()

,Длина,Высота,Шерстист,Гавкает,Лазает по деревьям,Вид_котик,Вид_собачка
0,15,18.0,1,1,0,0,1
1,20,24.0,1,0,0,0,1
2,34,40.8,1,1,0,0,1
3,26,31.2,1,1,0,0,1
4,16,19.2,1,1,0,0,1

In [35]:
dogs_cats_test = pd.read_json('dataset_209691_15.txt')
dogs_cats_test = pd.get_dummies(dogs_cats_test)
dogs_cats_test.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     31    37.2         1        1                   0
1     19    22.8         1        1                   0
2     24    28.8         1        1                   0
3     17    20.4         1        1                   0
4     18    21.6         1        1                   0

In [36]:
y_train = dogs_cats_train['Вид_собачка']
x_train = dogs_cats_train.drop(['Вид_собачка','Вид_котик'],axis=1)
test = dogs_cats_test

In [37]:
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(x_train, y_train)
result = clf.predict(test)

In [38]:
result

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [39]:
pd.Series(result)[result == 1].count()

59